a {
	color: #11999e;
}

body {
	text-align: center;
	font-family: "Merriweather", serif;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 50px auto 0;
	font-family: "Sacramento", cursive;
	font-size: 5.625rem;
	color: #66bfbf;
	line-height: 2;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	color: #66bfbf;
}

h3 {
	font-family: "Montserrat", sans-serif;
	color: #11999e;
}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: #66bfbf;
	border-width: 10px;
	width: 80px;
	margin: 100px auto;
}

p {
	color: #40514E;
	line-height: 2;
}

.underline {
	text-decoration: underline;
}

.top-container {
	padding-top: 100px;
	background-color: #e4f9f5;
	position: relative;
}

.top-cloud {
	position: absolute;
	top: 50px;
	right: 300px;
}

.middle-container {
	margin: 100px 0;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
	bottom: 300px;
}

#selfie {
	width: 220px;
	height: auto;
}

.skill-row {
	width: 65%;
	margin: 100px auto;
	text-align: left;
}

.dev-img {
	width: 40%;
	float: left;
	margin-right: 30px;
}

.guitar-img {
	width: 45%;
	float: right;
	margin-left: 30px;
}

.btn {
		background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	top: 30px;
  }
  
  .btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
  }

  .hello-row {
	width: 50%;
	text-align: center;
	margin: 40px auto;
  }

  .bottom-container {
	background-color: #66bfbf;
	padding: 50px;
  }

  #copyright {
	color: #eaf6f6;
	padding-top: 50px;
	position: relative;
	top: 20px;

  }

  .footer-link {
	margin: auto 50px;
  }

  .outro {
	padding-top: 10px;
	width: 50%;
	margin: auto;
  }
